<h1 mat-dialog-title style="color:red;">WARNING</h1>
<div mat-dialog-content style="min-height: 100px;">
  <p>{{data.message}}</p>
  <div mat-dialog-actions>
    <div style="float: right;">
      <button style="margin-left: 5px; margin-right: 5px;" mat-stroked-button (click)="onNoClick()">Cancel</button>
      <button style="margin-left: 5px; margin-right: 5px;" mat-stroked-button (click)="onClick()" cdkFocusInitial>Delete</button>
    </div>
  </div>