<div class="flex-container">
    <button mat-icon-button aria-label="Edit the resource" (click)="edit()">
        <mat-icon style="color: black;">create</mat-icon>
    </button>
    <app-remove-table-button [type]="type" [deleteId]="deleteId"></app-remove-table-button>
</div>