<div *ngIf="login; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
    <app-login-form (toogleEvent)="toogle($event)"></app-login-form>
</ng-template>

<ng-template #elseBlock>
    <app-register-form (toogleEvent)="toogle($event)"></app-register-form>
</ng-template>