<div style="margin: 10%;">
  <mat-card class="card">

    <form [formGroup]="addMeterForm" (ngSubmit)="addMeter(addMeterForm.value)">

      <mat-card-content>

        <app-form-error-message [errorMessage]="errorMessage"></app-form-error-message>

        <div class="inputContainer">
          <label style="font-size: 1rem;" for="name">Name</label>
          <input placeholder="Name" class="inputField" id="name" name="name" type="text" formControlName="name"
            required />
        </div>
        <br>

        <div class="inputContainer">
          <label style="font-size: 1rem;" for="description">Description</label>
          <input placeholder="Description" class="inputField" id="description" name="description" type="text-area"
            formControlName="description" />
        </div>
        <br>

        <div class="inputContainer">
          <label style="font-size: 1rem;" for="iso">ISO</label>
          <input placeholder="ISO" class="inputField" id="iso" name="iso" type="text" formControlName="iso" required />
        </div>
        <br>

        <div class="inputContainer">
          <label style="font-size: 1rem;" for="value">Initial Value</label>
          <input placeholder="Initial Value" class="inputField" id="value" name="value" type="number" formControlName="value" required />
        </div>
        <br>

      </mat-card-content>

      <mat-card-actions>
        <button style="width: 100%; height: 3rem;" type="submit" mat-stroked-button>SUBMIT</button>
      </mat-card-actions>

    </form>

  </mat-card>
</div>