<div style="margin: 10%;">
    <mat-card class="card">

        <form [formGroup]="addMeterForm" (ngSubmit)="addMeterInfo(addMeterForm.value)">

            <mat-card-content>

                <app-form-error-message [errorMessage]="errorMessage"></app-form-error-message>

                <div class="inputContainer">
                    <label style="font-size: 1rem;" for="key">Key</label>
                    <input placeholder="key" class="inputField" id="key" name="key" type="text" formControlName="key"
                        required />
                </div>
                <div class="inputContainer">
                    <label style="font-size: 1rem;" for="value">Value</label>
                    <input placeholder="value" class="inputField" id="value" name="value" type="text"
                        formControlName="value" required />
                </div>
                <br>

            </mat-card-content>

            <mat-card-actions>
                <button style="width: 100%; height: 3rem;" type="submit" mat-stroked-button>SUBMIT</button>
            </mat-card-actions>

        </form>

    </mat-card>
</div>