<div style="width: 400px; margin: 20px;">
  <mat-card class="card">

    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      </div>
      <mat-card-title>{{meter.name}}</mat-card-title>
      <mat-card-subtitle>{{(meter.value !== null) ? meter.value.meterValue : 'missing value'}} {{meter.iso}}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        {{meter.description}}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button style="float:left;" [routerLink]="['/meter', meter.id]" mat-stroked-button>VIEW</button>
      <button style="float:left;" [routerLink]="['/meter', meter.id, 'edit']" mat-stroked-button>EDIT</button>
      <button style="float:left;" (click)="delete()" mat-stroked-button>DELETE</button>
      <div style="clear:both;"></div>
    </mat-card-actions>

    <app-form-error-message [errorMessage]="errorMessage"></app-form-error-message>

  </mat-card>
</div>