<nav *ngIf="token.getToken() !== null && token.getToken() !== undefined">
  <div style="
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
    ">
    <div style="
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    border: 1;
    ">
      <div style="
        min-width: 150px;
        margin-left: 20px;
        ">
        <h1>{{pageName.currentPage}}</h1>
      </div>
      <div>
        <button mat-stroked-button [routerLink]="'/meter'" class="navButton">View Meters</button>
        <button mat-stroked-button [routerLink]="'/meter/add'" class="navButton">Add Meter</button>
      </div>
      <div style="margin-right: 20px;">
        <button mat-stroked-button (click)="logout()">LOGOUT</button>
      </div>
    </div>
  </div>
</nav>