<div style="padding: 2%">

  <h1>{{meter.name}}</h1>
  <h4>{{meter.description}}</h4>

  <br>
  <hr><br>


  <div>
    <h2>Meter Values</h2>
    <table mat-table [dataSource]="meter.values" class="mat-elevation-z8" style="width: 100%;">

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> VALUE </th>
        <td mat-cell *matCellDef="let element"> {{element.meterValue}} </td>
      </ng-container>

      <ng-container matColumnDef="ISO">
        <th mat-header-cell *matHeaderCellDef> ISO </th>
        <td mat-cell *matCellDef="let element"> {{meter.iso}} </td>
      </ng-container>

      <ng-container matColumnDef="updated">
        <th mat-header-cell *matHeaderCellDef> Update Time </th>
        <td mat-cell *matCellDef="let element"> {{'Date: (' + element.updateTime.replace('T', ') Time: (')+ ')'}} </td>
      </ng-container>

      <ng-container matColumnDef="actor">
        <th mat-header-cell *matHeaderCellDef> Actor </th>
        <td mat-cell *matCellDef="let element"> {{element.account.username}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" style="width: 80px;">
          <app-remove-table-button [type]="'value'" [deleteId]="element.id"></app-remove-table-button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="valuesColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: valuesColumns;"></tr>
    </table>

    <app-add-table-button [type]="'value'" [meterId]="meter.id" style="float: right;"></app-add-table-button>
  </div>

  <br>

  <div style="clear: both;">
    <h2>Meter Infomation</h2>
    <table mat-table [dataSource]="meter.infos" class="mat-elevation-z8" style="width: 100%;">

      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef> KEY </th>
        <td mat-cell *matCellDef="let element"> {{element.key}} </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> VALUE </th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" style="width: 80px;">
          <app-edit-remove-table-buttons [type]="'info'" [editUrl]="'/meter/' + meter.id + '/editInfo/' + element.id"
            [deleteId]="element.id"></app-edit-remove-table-buttons>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="infosColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: infosColumns;"></tr>
    </table>

    <app-add-table-button [type]="'info'" [meterId]="meter.id" style="float: right;"></app-add-table-button>
  </div>

</div>