<div style="margin: 30%; margin-top: 5%;">
    <mat-card class="card">

        <form ngForm #user="ngForm" (ngSubmit)="login(user)">

            <mat-card-content>

                <app-form-error-message [errorMessage]="errorMessage"></app-form-error-message>

                <div class="inputContainer">
                    <label style="font-size: 1rem;" for="email">Email</label>
                    <input class="inputField" id="email" name="email" type="text" ngModel #email="ngModel" required
                        pattern="(?:[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*|(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*)@(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-zA-Z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])" />
                </div>
                <p style="color: red;" [hidden]="email.valid || email.pristine" class="alert">Invalid email</p>
                <br>

                <div class="inputContainer">
                    <label style="font-size: 1rem;" for="password">password</label>
                    <input class="inputField" id="password" name="password" type="password" ngModel #password="ngModel"
                        required pattern=".*" />
                </div>
                <p style="color: red;" [hidden]="password.valid || password.pristine" class="alert">Invalid password</p>
                <br>

            </mat-card-content>

            <mat-card-actions>

                <button style="width: 100%; height: 3rem;" type="submit" mat-stroked-button>Log In</button>
                <div style="display: flex; justify-content: center; margin-top: 25px;">
                    <a style="cursor: pointer; color: red;" (click)="toogle()">register</a>
                </div>
            </mat-card-actions>

        </form>

    </mat-card>

</div>